@page "/weather"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject WeatherApiClient WeatherApi

<PageTitle>Weather</PageTitle>

<h1>ฐานข้อมูลทรัพย์สินภาในองค์กร</h1>

<MudContainer MaxWidth="MaxWidth.Large">
    <MudGrid Spacing="2">
        <MudItem xl="3" lg="3" md="3" sm="6" xs="12">
            <MudCard Class="card-hover d-flex align-center justify-center mud-width-full"
                     Style="height: 5vh;"
                     @onclick="@(() => onSetData("active"))">
                <MudCardContent>
                    active @(getDataCount("active"))
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xl="3" lg="3" md="3" sm="6" xs="12">
            <MudCard Class="card-hover d-flex align-center justify-center mud-width-full"
                     Style="height: 5vh;"
                     @onclick="@(()=>onSetData("in_repair"))">
                <MudCardContent>
                    in_repair @(getDataCount("in_repair"))
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xl="3" lg="3" md="3" sm="6" xs="12">
            <MudCard Class="card-hover d-flex align-center justify-center mud-width-full"
                     Style="height: 5vh;"
                     @onclick="@(()=>onSetData("disposed"))">
                <MudCardContent>
                    disposed @(getDataCount("disposed"))
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xl="3" lg="3" md="3" sm="6" xs="12">
            <MudCard Class="card-hover d-flex align-center justify-center mud-width-full"
                     Style="height: 5vh;"
                     @onclick="@(()=>onSetData("lost"))">
                <MudCardContent>
                    lost @(getDataCount("lost"))
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>

    <div class="my-2">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="onAddAssetsPage">
            เพิ่มข้อมูล
        </MudButton>
    </div>

    <div class="my-2">
        <MudTable Items="@Elements" Hover Bordered Striped>
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>ข้อมูลทรัพย์สิน</MudTh>
                <MudTh>ปีซื้อ</MudTh>
                <MudTh>ราคา (บาท)</MudTh>
                <MudTh>สถานะ</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="PurchaseDate">@context.PurchaseDate</MudTd>
                <MudTd DataLabel="Price">@context.Price</MudTd>
                <MudTd DataLabel="Status">@context.Status</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </div>
</MudContainer>

<style scoped>
    .card-hover {
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

        .card-hover:hover {
            transform: scale(1.02);
            box-shadow: 0 4px 20px rgba(0,0,0,0.2);
        }
</style>

@code {
}
